datasets/ 
raw/ 
trash/ 
aug_out/  
paper_imgs/ 
test_imgs/ 
# logs/type-1/ResNet18Scaled_0p25  
# logs/type-1/ResNet18Scaled_0p5  
# logs/type-1/ResNet18Scaled_0p75  
dataset_edit_test/ 
logs/ 
lab_logs/ 
lab_logs_ch01/
lab_logs_ch03/
hsv_logs/ 
config_lab_old.yaml
config_lab.yaml
config.yaml
config_hsv.yaml
config-history/ 
config_lab_ch01.yaml
config_lab_ch03.yaml
config_lab_v1.yaml
config_lab_kensho3.yaml
config_lab_kensho3-v1.yaml
config_lab_kensho3-v2.yaml
config_lab_kensho3-v3.yaml
config_lab_kensho3-v4.yaml
config_lab_kensho3-v5.yaml
config_lab_kensho3-v6.yaml
config_lab_kensho3-v7.yaml
config_lab_kensho3-v8.yaml
config_lab_kensho3-v9.yaml
config_lab_kensho3-v10.yaml
lab_logs_old
config_color.yaml
c123_logs/
